{% load static %}

<div class="am-tab-panel am-fade">

    <div class="actor-new">
        <div class="rate">
            <strong>100<span>%</span></strong><br> <span>好评度</span>
        </div>
        <dl>
            <dt>买家印象</dt>
            <dd class="p-bfc">
                <q class="comm-tags"><span>味道不错</span><em>(2177)</em></q>
                <q class="comm-tags"><span>颗粒饱满</span><em>(1860)</em></q>
                <q class="comm-tags"><span>口感好</span><em>(1823)</em></q>
                <q class="comm-tags"><span>商品不错</span><em>(1689)</em></q>
                <q class="comm-tags"><span>香脆可口</span><em>(1488)</em></q>
                <q class="comm-tags"><span>个个开口</span><em>(1392)</em></q>
                <q class="comm-tags"><span>价格便宜</span><em>(1119)</em></q>
                <q class="comm-tags"><span>特价买的</span><em>(865)</em></q>
                <q class="comm-tags"><span>皮很薄</span><em>(831)</em></q>
            </dd>
        </dl>
    </div>
    <div class="clear"></div>
    <div class="tb-r-filter-bar">
        <ul class=" tb-taglist am-avg-sm-4">
            <li class="tb-taglist-li tb-taglist-li-current">
                <div class="comment-info">
                    <span>全部评价</span>
                    <span class="tb-tbcr-num">(32)</span>
                </div>
            </li>

            <li class="tb-taglist-li tb-taglist-li-1">
                <div class="comment-info">
                    <span>好评</span>
                    <span class="tb-tbcr-num">(32)</span>
                </div>
            </li>

            <li class="tb-taglist-li tb-taglist-li-0">
                <div class="comment-info">
                    <span>中评</span>
                    <span class="tb-tbcr-num">(32)</span>
                </div>
            </li>

            <li class="tb-taglist-li tb-taglist-li--1">
                <div class="comment-info">
                    <span>差评</span>
                    <span class="tb-tbcr-num">(32)</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="clear"></div>

    <ul class="am-comments-list am-comments-list-flip">
        <li class="am-comment">
            <!-- 评论容器 -->
            <a href="">
                <img class="am-comment-avatar" src="{% static 'images/hwbn40x40.jpg' %}"/>
                <!-- 评论者头像 -->
            </a>

            <div class="am-comment-main">
                <!-- 评论内容容器 -->
                <header class="am-comment-hd">
                    <!--<h3 class="am-comment-title">评论标题</h3>-->
                    <div class="am-comment-meta">
                        <!-- 评论元数据 -->
                        <a href="#link-to-user" class="am-comment-author">b***1 (匿名)</a>
                        <!-- 评论者 -->
                        评论于
                        <time datetime="">2015年11月02日 17:46</time>
                    </div>
                </header>

                <div class="am-comment-bd">
                    <div class="tb-rev-item " data-id="255776406962">
                        <div class="J_TbcRate_ReviewContent tb-tbcr-content ">
                            摸起来丝滑柔软，不厚，没色差，颜色好看！买这个衣服还接到诈骗电话，我很好奇他们是怎么知道我买了这件衣服，并且还知道我的电话的！
                        </div>
                        <div class="tb-r-act-bar">
                            颜色分类：柠檬黄&nbsp;&nbsp;尺码：S
                        </div>
                    </div>

                </div>
                <!-- 评论内容 -->
            </div>
        </li>
        <li class="am-comment">
            <!-- 评论容器 -->
            <a href="">
                <img class="am-comment-avatar" src="{% static 'images/hwbn40x40.jpg' %}"/>
                <!-- 评论者头像 -->
            </a>

            <div class="am-comment-main">
                <!-- 评论内容容器 -->
                <header class="am-comment-hd">
                    <!--<h3 class="am-comment-title">评论标题</h3>-->
                    <div class="am-comment-meta">
                        <!-- 评论元数据 -->
                        <a href="#link-to-user" class="am-comment-author">l***4 (匿名)</a>
                        <!-- 评论者 -->
                        评论于
                        <time datetime="">2015年10月28日 11:33</time>
                    </div>
                </header>

                <div class="am-comment-bd">
                    <div class="tb-rev-item " data-id="255095758792">
                        <div class="J_TbcRate_ReviewContent tb-tbcr-content ">
                            没有色差，很暖和……美美的
                        </div>
                        <div class="tb-r-act-bar">
                            颜色分类：蓝调灰&nbsp;&nbsp;尺码：2XL
                        </div>
                    </div>

                </div>
                <!-- 评论内容 -->
            </div>
        </li>
        <li class="am-comment">
            <!-- 评论容器 -->
            <a href="">
                <img class="am-comment-avatar" src="{% static 'images/hwbn40x40.jpg' %}"/>
                <!-- 评论者头像 -->
            </a>

            <div class="am-comment-main">
                <!-- 评论内容容器 -->
                <header class="am-comment-hd">
                    <!--<h3 class="am-comment-title">评论标题</h3>-->
                    <div class="am-comment-meta">
                        <!-- 评论元数据 -->
                        <a href="#link-to-user" class="am-comment-author">b***1 (匿名)</a>
                        <!-- 评论者 -->
                        评论于
                        <time datetime="">2015年11月02日 17:46</time>
                    </div>
                </header>

                <div class="am-comment-bd">
                    <div class="tb-rev-item " data-id="255776406962">
                        <div class="J_TbcRate_ReviewContent tb-tbcr-content ">
                            摸起来丝滑柔软，不厚，没色差，颜色好看！买这个衣服还接到诈骗电话，我很好奇他们是怎么知道我买了这件衣服，并且还知道我的电话的！
                        </div>
                        <div class="tb-r-act-bar">
                            颜色分类：柠檬黄&nbsp;&nbsp;尺码：S
                        </div>
                    </div>

                </div>
                <!-- 评论内容 -->
            </div>
        </li>
        <li class="am-comment">
            <!-- 评论容器 -->
            <a href="">
                <img class="am-comment-avatar" src="{% static 'images/hwbn40x40.jpg' %}"/>
                <!-- 评论者头像 -->
            </a>

            <div class="am-comment-main">
                <!-- 评论内容容器 -->
                <header class="am-comment-hd">
                    <!--<h3 class="am-comment-title">评论标题</h3>-->
                    <div class="am-comment-meta">
                        <!-- 评论元数据 -->
                        <a href="#link-to-user" class="am-comment-author">h***n (匿名)</a>
                        <!-- 评论者 -->
                        评论于
                        <time datetime="">2015年11月25日 12:48</time>
                    </div>
                </header>

                <div class="am-comment-bd">
                    <div class="tb-rev-item " data-id="258040417670">
                        <div class="J_TbcRate_ReviewContent tb-tbcr-content ">
                            式样不错，初冬穿
                        </div>
                        <div class="tb-r-act-bar">
                            颜色分类：柠檬黄&nbsp;&nbsp;尺码：L
                        </div>
                    </div>
                </div>
                <!-- 评论内容 -->
            </div>
        </li>

        <li class="am-comment">
            <!-- 评论容器 -->
            <a href="">
                <img class="am-comment-avatar" src="{% static 'images/hwbn40x40.jpg' %}"/>
                <!-- 评论者头像 -->
            </a>

            <div class="am-comment-main">
                <!-- 评论内容容器 -->
                <header class="am-comment-hd">
                    <!--<h3 class="am-comment-title">评论标题</h3>-->
                    <div class="am-comment-meta">
                        <!-- 评论元数据 -->
                        <a href="#link-to-user" class="am-comment-author">b***1 (匿名)</a>
                        <!-- 评论者 -->
                        评论于
                        <time datetime="">2015年11月02日 17:46</time>
                    </div>
                </header>

                <div class="am-comment-bd">
                    <div class="tb-rev-item " data-id="255776406962">
                        <div class="J_TbcRate_ReviewContent tb-tbcr-content ">
                            摸起来丝滑柔软，不厚，没色差，颜色好看！买这个衣服还接到诈骗电话，我很好奇他们是怎么知道我买了这件衣服，并且还知道我的电话的！
                        </div>
                        <div class="tb-r-act-bar">
                            颜色分类：柠檬黄&nbsp;&nbsp;尺码：S
                        </div>
                    </div>

                </div>
                <!-- 评论内容 -->
            </div>
        </li>
        <li class="am-comment">
            <!-- 评论容器 -->
            <a href="">
                <img class="am-comment-avatar" src="{% static 'images/hwbn40x40.jpg' %}"/>
                <!-- 评论者头像 -->
            </a>

            <div class="am-comment-main">
                <!-- 评论内容容器 -->
                <header class="am-comment-hd">
                    <!--<h3 class="am-comment-title">评论标题</h3>-->
                    <div class="am-comment-meta">
                        <!-- 评论元数据 -->
                        <a href="#link-to-user" class="am-comment-author">l***4 (匿名)</a>
                        <!-- 评论者 -->
                        评论于
                        <time datetime="">2015年10月28日 11:33</time>
                    </div>
                </header>

                <div class="am-comment-bd">
                    <div class="tb-rev-item " data-id="255095758792">
                        <div class="J_TbcRate_ReviewContent tb-tbcr-content ">
                            没有色差，很暖和……美美的
                        </div>
                        <div class="tb-r-act-bar">
                            颜色分类：蓝调灰&nbsp;&nbsp;尺码：2XL
                        </div>
                    </div>

                </div>
                <!-- 评论内容 -->
            </div>
        </li>
        <li class="am-comment">
            <!-- 评论容器 -->
            <a href="">
                <img class="am-comment-avatar" src="{% static 'images/hwbn40x40.jpg' %}"/>
                <!-- 评论者头像 -->
            </a>

            <div class="am-comment-main">
                <!-- 评论内容容器 -->
                <header class="am-comment-hd">
                    <!--<h3 class="am-comment-title">评论标题</h3>-->
                    <div class="am-comment-meta">
                        <!-- 评论元数据 -->
                        <a href="#link-to-user" class="am-comment-author">b***1 (匿名)</a>
                        <!-- 评论者 -->
                        评论于
                        <time datetime="">2015年11月02日 17:46</time>
                    </div>
                </header>

                <div class="am-comment-bd">
                    <div class="tb-rev-item " data-id="255776406962">
                        <div class="J_TbcRate_ReviewContent tb-tbcr-content ">
                            摸起来丝滑柔软，不厚，没色差，颜色好看！买这个衣服还接到诈骗电话，我很好奇他们是怎么知道我买了这件衣服，并且还知道我的电话的！
                        </div>
                        <div class="tb-r-act-bar">
                            颜色分类：柠檬黄&nbsp;&nbsp;尺码：S
                        </div>
                    </div>

                </div>
                <!-- 评论内容 -->
            </div>
        </li>
        <li class="am-comment">
            <!-- 评论容器 -->
            <a href="">
                <img class="am-comment-avatar" src="{% static 'images/hwbn40x40.jpg' %}"/>
                <!-- 评论者头像 -->
            </a>

            <div class="am-comment-main">
                <!-- 评论内容容器 -->
                <header class="am-comment-hd">
                    <!--<h3 class="am-comment-title">评论标题</h3>-->
                    <div class="am-comment-meta">
                        <!-- 评论元数据 -->
                        <a href="#link-to-user" class="am-comment-author">h***n (匿名)</a>
                        <!-- 评论者 -->
                        评论于
                        <time datetime="">2015年11月25日 12:48</time>
                    </div>
                </header>

                <div class="am-comment-bd">
                    <div class="tb-rev-item " data-id="258040417670">
                        <div class="J_TbcRate_ReviewContent tb-tbcr-content ">
                            式样不错，初冬穿
                        </div>
                        <div class="tb-r-act-bar">
                            颜色分类：柠檬黄&nbsp;&nbsp;尺码：L
                        </div>
                    </div>
                </div>
                <!-- 评论内容 -->
            </div>
        </li>
        <li class="am-comment">
            <!-- 评论容器 -->
            <a href="">
                <img class="am-comment-avatar" src="{% static 'images/hwbn40x40.jpg' %}"/>
                <!-- 评论者头像 -->
            </a>

            <div class="am-comment-main">
                <!-- 评论内容容器 -->
                <header class="am-comment-hd">
                    <!--<h3 class="am-comment-title">评论标题</h3>-->
                    <div class="am-comment-meta">
                        <!-- 评论元数据 -->
                        <a href="#link-to-user" class="am-comment-author">b***1 (匿名)</a>
                        <!-- 评论者 -->
                        评论于
                        <time datetime="">2015年11月02日 17:46</time>
                    </div>
                </header>

                <div class="am-comment-bd">
                    <div class="tb-rev-item " data-id="255776406962">
                        <div class="J_TbcRate_ReviewContent tb-tbcr-content ">
                            摸起来丝滑柔软，不厚，没色差，颜色好看！买这个衣服还接到诈骗电话，我很好奇他们是怎么知道我买了这件衣服，并且还知道我的电话的！
                        </div>
                        <div class="tb-r-act-bar">
                            颜色分类：柠檬黄&nbsp;&nbsp;尺码：S
                        </div>
                    </div>

                </div>
                <!-- 评论内容 -->
            </div>
        </li>
        <li class="am-comment">
            <!-- 评论容器 -->
            <a href="">
                <img class="am-comment-avatar" src="{% static 'images/hwbn40x40.jpg' %}"/>
                <!-- 评论者头像 -->
            </a>

            <div class="am-comment-main">
                <!-- 评论内容容器 -->
                <header class="am-comment-hd">
                    <!--<h3 class="am-comment-title">评论标题</h3>-->
                    <div class="am-comment-meta">
                        <!-- 评论元数据 -->
                        <a href="#link-to-user" class="am-comment-author">l***4 (匿名)</a>
                        <!-- 评论者 -->
                        评论于
                        <time datetime="">2015年10月28日 11:33</time>
                    </div>
                </header>

                <div class="am-comment-bd">
                    <div class="tb-rev-item " data-id="255095758792">
                        <div class="J_TbcRate_ReviewContent tb-tbcr-content ">
                            没有色差，很暖和……美美的
                        </div>
                        <div class="tb-r-act-bar">
                            颜色分类：蓝调灰&nbsp;&nbsp;尺码：2XL
                        </div>
                    </div>

                </div>
                <!-- 评论内容 -->
            </div>
        </li>
        <li class="am-comment">
            <!-- 评论容器 -->
            <a href="">
                <img class="am-comment-avatar" src="{% static 'images/hwbn40x40.jpg' %}"/>
                <!-- 评论者头像 -->
            </a>

            <div class="am-comment-main">
                <!-- 评论内容容器 -->
                <header class="am-comment-hd">
                    <!--<h3 class="am-comment-title">评论标题</h3>-->
                    <div class="am-comment-meta">
                        <!-- 评论元数据 -->
                        <a href="#link-to-user" class="am-comment-author">b***1 (匿名)</a>
                        <!-- 评论者 -->
                        评论于
                        <time datetime="">2015年11月02日 17:46</time>
                    </div>
                </header>

                <div class="am-comment-bd">
                    <div class="tb-rev-item " data-id="255776406962">
                        <div class="J_TbcRate_ReviewContent tb-tbcr-content ">
                            摸起来丝滑柔软，不厚，没色差，颜色好看！买这个衣服还接到诈骗电话，我很好奇他们是怎么知道我买了这件衣服，并且还知道我的电话的！
                        </div>
                        <div class="tb-r-act-bar">
                            颜色分类：柠檬黄&nbsp;&nbsp;尺码：S
                        </div>
                    </div>

                </div>
                <!-- 评论内容 -->
            </div>
        </li>
        <li class="am-comment">
            <!-- 评论容器 -->
            <a href="">
                <img class="am-comment-avatar" src="{% static 'images/hwbn40x40.jpg' %}"/>
                <!-- 评论者头像 -->
            </a>

            <div class="am-comment-main">
                <!-- 评论内容容器 -->
                <header class="am-comment-hd">
                    <!--<h3 class="am-comment-title">评论标题</h3>-->
                    <div class="am-comment-meta">
                        <!-- 评论元数据 -->
                        <a href="#link-to-user" class="am-comment-author">h***n (匿名)</a>
                        <!-- 评论者 -->
                        评论于
                        <time datetime="">2015年11月25日 12:48</time>
                    </div>
                </header>

                <div class="am-comment-bd">
                    <div class="tb-rev-item " data-id="258040417670">
                        <div class="J_TbcRate_ReviewContent tb-tbcr-content ">
                            式样不错，初冬穿
                        </div>
                        <div class="tb-r-act-bar">
                            颜色分类：柠檬黄&nbsp;&nbsp;尺码：L
                        </div>
                    </div>
                </div>
                <!-- 评论内容 -->
            </div>
        </li>

    </ul>

    <div class="clear"></div>

    <!--分页 -->
    <ul class="am-pagination am-pagination-right">
        <li class="am-disabled"><a href="#">&laquo;</a></li>
        <li class="am-active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
    <div class="clear"></div>

    <div class="tb-reviewsft">
        <div class="tb-rate-alert type-attention">购买前请查看该商品的 <a href="#" target="_blank">购物保障</a>，明确您的售后保障权益。
        </div>
    </div>

</div>