{% load static %}
<div class="browse">
    <div class="mc">
        <ul>
            <div class="mt">
                <h2>看了又看</h2>
            </div>

            <li class="first">
                <div class="p-img">
                    <a href="#"> <img class="" src="{% static 'images/browse1.jpg' %}"> </a>
                </div>
                <div class="p-name"><a href="#">
                    【三只松鼠_开口松子】零食坚果特产炒货东北红松子原味
                </a>
                </div>
                <div class="p-price"><strong>￥35.90</strong></div>
            </li>
            <li>
                <div class="p-img">
                    <a href="#"> <img class="" src="{% static 'images/browse1.jpg' %}"> </a>
                </div>
                <div class="p-name"><a href="#">
                    【三只松鼠_开口松子】零食坚果特产炒货东北红松子原味
                </a>
                </div>
                <div class="p-price"><strong>￥35.90</strong></div>
            </li>
            <li>
                <div class="p-img">
                    <a href="#"> <img class="" src="{% static 'images/browse1.jpg' %}"> </a>
                </div>
                <div class="p-name"><a href="#">
                    【三只松鼠_开口松子】零食坚果特产炒货东北红松子原味
                </a>
                </div>
                <div class="p-price"><strong>￥35.90</strong></div>
            </li>
            <li>
                <div class="p-img">
                    <a href="#"> <img class="" src="{% static 'images/browse1.jpg' %}"> </a>
                </div>
                <div class="p-name"><a href="#">
                    【三只松鼠_开口松子】零食坚果特产炒货东北红松子原味
                </a>
                </div>
                <div class="p-price"><strong>￥35.90</strong></div>
            </li>
            <li>
                <div class="p-img">
                    <a href="#"> <img class="" src="{% static 'images/browse1.jpg' %}"> </a>
                </div>
                <div class="p-name"><a href="#">
                    【三只松鼠_开口松子218g】零食坚果特产炒货东北红松子原味
                </a>
                </div>
                <div class="p-price"><strong>￥35.90</strong></div>
            </li>

        </ul>
    </div>
</div>