{% load static %}


<div class="am-tab-panel am-fade am-in am-active">
    <div class="J_Brand">

        <div class="attr-list-hd tm-clear">
            <h4>产品参数：</h4></div>
        <div class="clear"></div>
        <ul id="J_AttrUL">
            <li title="">产品类型:&nbsp;烘炒类</li>
            <li title="">原料产地:&nbsp;巴基斯坦</li>
            <li title="">产地:&nbsp;湖北省武汉市</li>
            <li title="">配料表:&nbsp;进口松子、食用盐</li>
            <li title="">产品规格:&nbsp;210g</li>
            <li title="">保质期:&nbsp;180天</li>
            <li title="">产品标准号:&nbsp;GB/T 22165</li>
            <li title="">生产许可证编号：&nbsp;QS4201 1801 0226</li>
            <li title="">储存方法：&nbsp;请放置于常温、阴凉、通风、干燥处保存</li>
            <li title="">食用方法：&nbsp;开袋去壳即食</li>
        </ul>
        <div class="clear"></div>
    </div>

    <div class="details">
        <div class="attr-list-hd after-market-hd">
            <h4>商品细节</h4>
        </div>
        <div class="twlistNews">
            <img src="{% static 'images/tw1.jpg' %}"/>
            <img src="{% static 'images/tw2.jpg' %}"/>
            <img src="{% static 'images/tw3.jpg' %}"/>
            <img src="{% static 'images/tw4.jpg' %}"/>
            <img src="{% static 'images/tw5.jpg' %}"/>
            <img src="{% static 'images/tw6.jpg' %}"/>
            <img src="{% static 'images/tw7.jpg' %}"/>
        </div>
    </div>
    <div class="clear"></div>

</div>

