{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

{% block head %}
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>
			首页
		</title>

		<link href="{% static 'AmazeUI-2.4.2/assets/css/amazeui.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'AmazeUI-2.4.2/assets/css/admin.css' %}" rel="stylesheet" type="text/css" />

		<link href="{% static 'basic/css/demo.css' %}" rel="stylesheet" type="text/css" />

		<link href="{% static 'css/hmstyle.css' %}" rel="stylesheet" type="text/css"/>
		<link href="{% static 'css/skin.css' %}" rel="stylesheet" type="text/css" />
		<script src="{% static 'AmazeUI-2.4.2/assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'AmazeUI-2.4.2/assets/js/amazeui.min.js' %}"></script>

		<link href="{% static 'css/dlstyle.css' %} " rel="stylesheet" type="text/css">

	</head>
{% endblock %}

	<body>

	{% block content%}
	{% endblock %}

		<script>
			window.jQuery || document.write('<script src="{% static 'basic/js/jquery.min.js' %}"><\/script>');
		</script>
		<script type="text/javascript " src="{% static 'basic/js/quick_links.js' %}"></script>
	</body>

</html>