{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

{% block head %}
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>
			首页
		</title>

		<link href="{% static 'css/dlstyle.css' %} " rel="stylesheet" type="text/css">
		<link type="text/css" href="{% static 'css/optstyle.css' %}" rel="stylesheet" />
		<link href="{% static 'css/style.css' %} " rel="stylesheet" type="text/css">
		<script src="{% static 'basic/js/jquery-1.7.min.js' %}"></script>
		<script src="{% static 'basic/js/quick_links.js' %}"></script>
		<script src="{% static 'js/jquery.imagezoom.min.js' %}"></script>
		<script src="{% static 'js/jquery.flexslider.js' %}"></script>
		<script src="{% static 'js/list.js' %}"></script>


	</head>
{% endblock %}

	<body>

	{% block content%}
	{% endblock %}

		<script>
			window.jQuery || document.write('<script src="{% static 'basic/js/jquery.min.js' %}"><\/script>');
		</script>
		<script type="text/javascript " src="{% static 'basic/js/quick_links.js' %}"></script>
	</body>

</html>