{% load static %}


media_url :{% get_media_prefix %}
<div id="f1">
    <!--甜点-->

    <div class="am-container ">
        <div class="shopTitle ">
            <h4>甜品</h4>
            <h3>每一道甜品都有一个故事</h3>
            <div class="today-brands ">
                <a href="# ">桂花糕</a>
                <a href="# ">奶皮酥</a>
                <a href="# ">栗子糕 </a>
                <a href="# ">马卡龙</a>
                <a href="# ">铜锣烧</a>
                <a href="# ">豌豆黄</a>
            </div>
            <span class="more ">
                    <a href="# ">更多美味<i class="am-icon-angle-right" style="padding-left:10px ;" ></i></a>
                        </span>
        </div>
    </div>

    <div class="am-g am-g-fixed floodFour">
        <div class="am-u-sm-5 am-u-md-4 text-one list ">
            <div class="word">
                <a class="outer" href="#"><span class="inner"><b class="text">核桃</b></span></a>
                <a class="outer" href="#"><span class="inner"><b class="text">核桃</b></span></a>
                <a class="outer" href="#"><span class="inner"><b class="text">核桃</b></span></a>
                <a class="outer" href="#"><span class="inner"><b class="text">核桃</b></span></a>
                <a class="outer" href="#"><span class="inner"><b class="text">核桃</b></span></a>
                <a class="outer" href="#"><span class="inner"><b class="text">核桃</b></span></a>
            </div>
            <a href="# ">
                <div class="outer-con ">
                    <div class="title ">
                        开抢啦！
                    </div>
                    <div class="sub-title ">
                        零食大礼包
                    </div>
                </div>
                <img src="{% static 'images/act1.png ' %}" />
            </a>
            <div class="triangle-topright"></div>
        </div>
        {% for goods in goods_list %}

        {% if goods.order_value == 1 %}
        <div class="am-u-sm-7 am-u-md-4 text-two sug">
            <div class="outer-con ">
                <div class="title ">
                    {{goods.name}}
                </div>
                <div class="sub-title ">
                    ¥{{goods.price}}
                </div>
                <i class="am-icon-shopping-basket am-icon-md  seprate"></i>
            </div>
            <a href="# "><img src="{% get_media_prefix %}{{goods.image}}" /></a>
        </div>

        {% elif  goods.order_value == 2 %}
        <div class="am-u-sm-7 am-u-md-4 text-two">
            <div class="outer-con ">
                <div class="title ">
                    {{goods.name}}lanmei
                </div>
                <div class="sub-title ">
                    ¥{{goods.price}}
                </div>
                <i class="am-icon-shopping-basket am-icon-md  seprate"></i>
            </div>
            <a href="# "><img src="{% get_media_prefix %}{{goods.image}}" /></a>
        </div>

        {% elif  goods.order_value == 3 %}
        <div class="am-u-sm-3 am-u-md-2 text-three big">
            <div class="outer-con ">
                <div class="title ">
                    {{goods.name}}big
                </div>
                <div class="sub-title ">
                    ¥{{goods.price}}
                </div>
                <i class="am-icon-shopping-basket am-icon-md  seprate"></i>
            </div>
            <a href="# "><img src="{% get_media_prefix %}{{goods.image}}" /></a>
        </div>
        {% elif  goods.order_value == 4 %}
        <div class="am-u-sm-3 am-u-md-2 text-three sug">
            <div class="outer-con ">
                <div class="title ">
                    {{goods.name}}
                </div>
                <div class="sub-title ">
                    ¥{{goods.price}}
                </div>
                <i class="am-icon-shopping-basket am-icon-md  seprate"></i>
            </div>
            <a href="# "><img src="{% get_media_prefix %}{{goods.image}}" /></a>
        </div>

        {% elif  goods.order_value == 5 %}
        <div class="am-u-sm-3 am-u-md-2 text-three ">
            <div class="outer-con ">
                <div class="title ">
                    {{goods.name}}
                </div>
                <div class="sub-title ">
                    ¥{{goods.price}}
                </div>
                <i class="am-icon-shopping-basket am-icon-md  seprate"></i>
            </div>
            <a href="# "><img src="{% get_media_prefix %}{{goods.image}}" /></a>
        </div>
        {% elif  goods.order_value == 6 %}
        <div class="am-u-sm-3 am-u-md-2 text-three last big ">
            <div class="outer-con ">
                <div class="title ">
                    {{goods.name}}
                </div>
                <div class="sub-title ">
                    ¥{{goods.price}}
                </div>
                <i class="am-icon-shopping-basket am-icon-md  seprate"></i>
            </div>
            <a href="# "><img src="{% get_media_prefix %}{{goods.image}}" /></a>
        </div>

    </div>
    {% endif %}
    {% endfor %}

    <div class="clear "></div>
</div>