{% load static %}


<script type='text/javascript'>

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
	var csrftoken = getCookie('csrftoken');
	if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});


        totle();
        adddel();
        //总计函数
        function totle(){
            var sum = 0 ;

            $('.xiaoji').each(function(){
                sum +=parseInt($(this).text());
            });
            $('#total').text(sum);
        }
        //加减函数
        function adddel(){

            $('.add').each(function(){
                $(this).click(function(){
                    var action = 'add';
                    var $multi= 0;

                    var item_id = $(this).parent().find('p#item').text();

                    var quantity = $(this).prev().text();
                    quantity++;
                    tijiao(item_id,quantity,action);
                });
            });
            $('.min').each(function(){
                $(this).click(function(){
                    var action = 'reduc';
                    var item_id = $(this).parent().find('.item').value;
                    var quantity = $(this).next().text();
                    var item_id = $(this).parent().find('.item').value;
                    quantity--;
                    if(quantity <= 0){
                        quantity = 1;
                    }
                    tijiao(item_id,quantity,action);
                });
            });
        }
        var userid='444';
        //ajax请求数据库函数
        function tijiao(item_id,quantity,action){
            var result=0;
            $.ajax({
                'url':'/cart/action/',
                'data':{'item_id':item_id,'quantity':quantity,'action':action},
                'type':'post',
                'success':function(data){
                    if(data){
                        var quantity= 8
                        //parseInt(jQuery.parseJSON(data).quantity);
                        $('#itemid_'+item_id).find('.quantity').text(quantity);
                        //var price=parseInt($('#productid_'+productid).find('.price').text());
                        //var value=0;
                        //value=number*price;
                        //$('#productid_'+productid).find('.xiaoji').text(value);
                        //totle();

                    }
                }

            });

        }


    </script>


<ul class="item-content clearfix">
    <li class="td td-chk">
        <div class="cart-checkbox ">
            <input class="check" id="J_CheckBox_170037950254" name="items[]" value="170037950254" type="checkbox">
            <label for="J_CheckBox_170037950254"></label>
        </div>
    </li>
    <li class="td td-item">
        <div class="item-pic">
            <a href="#" target="_blank" data-title="{{item.name}}" class="J_MakePoint" data-point="tbcart.8.12">
                <img src="{% static 'images/01.jpg_80x80.jpg' %}" class="itempic J_ItemImg"></a>
        </div>
        <div class="item-info">
            <div class="item-basic-info">
                <a href="#" target="_blank" title="{{item.name}}" class="item-title J_MakePoint" data-point="tbcart.8.11">{{item.product.name}}</a>
            </div>
        </div>
    </li>
    <li class="td td-info">
        <div class="item-props item-props-can">
            <span class="sku-line">颜色：12#川南玛瑙</span>
            <span class="sku-line">包装：裸装</span>
            <span tabindex="0" class="btn-edit-sku theme-login">修改</span>
            <i class="theme-login am-icon-sort-desc"></i>
        </div>
    </li>
    <li class="td td-price">
        <div class="item-price price-promo-promo">
            <div class="price-content">
                <div class="price-line">
                    <em class="price-original">{{item.product.market_price}}</em>
                </div>
                <div class="price-line">
                    <em class="J_Price price-now" tabindex="0">{{item.unit_price}}</em>
                </div>
            </div>
        </div>
    </li>
    <li class="td td-amount">
        <div class="amount-wrapper ">
            <div class="item-amount ">
                <div class="sl" id = "itemid_{{item.id}}">
                    <p id ="item">{{item.id}}</p>

                    <input class="min am-btn" name="" type="button" value="-" />
                    <input class="quantity" id = "quantity" name="quantity" type="text" value="{{item.quantity}}" style="width:30px;" />
                    <input class="add am-btn" name="" type="button" value="+" />
                </div>
            </div>
        </div>
    </li>
    <li class="td td-sum">
        <div class="td-inner">
            <em tabindex="0" class="J_ItemSum number">{{item.unit_price}}</em>
        </div>
    </li>
    <li class="td td-op">
        <div class="td-inner">
            <a title="移入收藏夹" class="btn-fav" href="#">移入收藏夹</a>
            <a href="{% url 'order:cartAction' %}?action=delete&item_id={{item.id}}" data-point-url="#" class="delete">删除</a>
        </div>
    </li>
</ul>
