{% load static %}


<html xmlns="http://www.w3.org/1999/xhtml">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>{% block title %}{% endblock %}</title>


    <!--common -->
    <link href="{% static 'AmazeUI-2.4.2/assets/css/amazeui.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'basic/css/demo.css' %}" rel="stylesheet" type="text/css" />
    <link  href="{% static 'css/cartstyle.css' %}" rel="stylesheet" type="text/css" />


    <!--shopcart -->


    <!--pay -->



    <!--extra -->
    {% block css_js %}

    {% endblock %}

</head>


<body>
<style>
    b.line{
        top:171px;
    }
</style>

{% include 'top.html' %}

<b class="line"></b>

<div class="nav-table">
    <div class="long-title"><span class="all-goods">全部分类</span></div>
    <div class="nav-cont">
        <ul>
            <li class="index"><a href="#">首页</a></li>
            <li class="qc"><a href="#">闪购</a></li>
            <li class="qc"><a href="#">限时抢</a></li>
            <li class="qc"><a href="#">团购</a></li>
            <li class="qc last"><a href="#">大包装</a></li>
        </ul>
        <div class="nav-extra">
            <i class="am-icon-user-secret am-icon-md nav-user"></i><b></b>我的福利
            <i class="am-icon-angle-right" style="padding-left: 10px;"></i>
        </div>
    </div>
</div>
<div class="clear"></div>

{% block main%}

{% endblock %}

{% block footer %}

{% endblock %}

{% block sidebar %}

{% endblock%}
</body>

</html>