{% load static %}

<!DOCTYPE html>
<html>

<head lang="en">
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp" />

	<link href="{% static 'AmazeUI-2.4.2/assets/css/amazeui.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/dlstyle.css' %} " rel="stylesheet" type="text/css">
	<script src="{% static 'AmazeUI-2.4.2/assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'AmazeUI-2.4.2/assets/js/amazeui.min.js' %}"></script>

</head>

<body>

<div class="login-boxtitle">
	<a href="{{SITE_URL}}"><img alt="logo" src="{% static 'images/logobig.png' %}" /></a>
</div>

{% block content %}

{% endblock %}

{% include "footer.html" %}
</body>

</html>